.nav-bar {
  position: fixed; 
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa; 
  border-top-left-radius: 15px; 
  border-top-right-radius: 15px; 
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
  padding: 10px 0;
  z-index: 1000; 
  display: flex;
  justify-content: center;
  height: 9vh
}

.nav-links {
  list-style: none;
  display: flex; 
  justify-content: space-around;
  align-items: center; 
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-links li {
  flex-grow: 1; 
  display: flex;
  justify-content: center;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #555; 
  padding: 8px 12px; 
  font-size: 24px; 
  transition: color 0.3s ease;
  width: fit-content;
}

.nav-link:hover {
    border-color: #000000;
    border: 1px solid;
    border-radius: 10px;
    transition: border .5s ease-in;
}

.nav-link.active {
    border-color: #000000;
    border: 1px solid;
    border-radius: 10px;
}


.nav-link img {
  width: 28px; 
  height: 28px;
  object-fit: cover;
}

