.nav-bar {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: 75%;
    background-color: lightgray;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    z-index: 100;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    margin: 0;
}

.nav-link {
    color: black
}