.post-icon-button {
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease;
  position: fixed;
  bottom: 70px;
  right: 15px;
  z-index: 1000;
}

.icon-button:hover {
  background-color: #f0f0f0;
}
