.dropdown-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-toggle {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  width: 160px;
  text-align: center;
  width: 100%;
}

.dropdown-arrow {
  float: right;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  margin-top: 4px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-left: 0;
}

.dropdown-menu li {
  padding: 10px 16px;
  cursor: pointer;
  list-style: none;
  padding-left: 0px;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}