.post-icon-button {
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  padding: 0px;
  margin: 5px;
  cursor: pointer;
  width: 7vh;
  height: 7vh;
  font-size: 3.5vh;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 12vh;
  right: 5vw;
  z-index: 1;
}

.icon-button:hover {
  background-color: #f0f0f0;
}
